/* RESET DE BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    background-color: #ECF0F1;
    color: #2C3E50;
    text-align: center;
}

/* NAVIGATION */
.navbar {
    background-color: #013879;
    color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}

.navbar a {
    float: left;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}
.navbar a:hover {
    color: #F39C12;
}

/* SECTION HAUTEUR */
section {
    scroll-margin-top: 100px;
}

/* VIDEO D'ACCUEIL */
#fond-video {
    width: 100%;
    height: auto; /* Laisse la hauteur s'ajuster selon le ratio de la vidéo */
    object-fit: cover; /* La vidéo s'adapte à la taille sans distorsion */
}

/* CONTENU PRINCIPAL */
h1 {
    font-size: 50;
    font-weight: bold;
    color: #4A90E2;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 21;   /* Taille de la police qui s'adapte */
    max-width: 1000px;    /* Largeur maximale de 800px */
    margin: 10px auto;   /* 10px de marge en haut et en bas, centré horizontalement */
    text-align: justify;
}

/* SECTION PROJETS */
.Projets {
    display: flex; /* aligné */
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap; /* déborde pas de la page */
    padding: 25px 200px 40px 200px;
}

.Exemple {
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Exemple:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.Exemple img {
    width: auto;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

/* LÉGENDE CLIQUABLE */
.Légende {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #4A90E2;
    transition: color 0.3s ease;
}

.Légende:hover {
    color: #F39C12;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.popup-contenus {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-contenus #popup-texte {
    text-align: center;
}

/* PROJETS REALISE EN PYTHON */
.Seconde-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.video {
    flex: 1;
    display: flex;
    justify-content: center;
}

.Seconde-page video {
    max-width: 800px; /* Pour éviter qu'elle soit trop grande */
    border-radius: 10px;
}

.Légende a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: #4A90E2;
  transition: color 0.3s ease;
}
.Légende a:hover {
    color: #F39C12;
}

.texte {
    flex: 1;
    padding: 20px;
    margin-left: 10px;
    text-align: justify;
    border: 2px solid #ccc; /* Cadre autour du texte */
    background-color: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

/* BOUTON */
#bouton {
    background-color: #4A90E2;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

#bouton:hover {
    background-color: #F39C12;
    transform: scale(1.05);
}

/* PIED DE PAGE */
.pied-de-page {
    background-color: #013879;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

/* Style pour l'encadré */
    #banniere {
      position: fixed;
      bottom: 20px;
      left: 20px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 15px;
      border-radius: 8px;
      font-family: Arial, sans-serif;
      z-index: 9999;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 320px;
    }

    #banniere p {
      margin: 0;
      font-size: 14px;
      max-width: 175px;    /* Largeur maximale de 1000px */
    }
    #banniere button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
    }
    #banniere button:hover {
      background-color: #45a049;
    }
